rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Permettre la lecture et écriture pour tous (à restreindre en production)
    match /scores/{document=**} {
      allow read, write: if true;
    }
    
    // Permettre la lecture et écriture pour la collection users
    match /users/{document=**} {
      allow read, write: if true;
    }
  }
}

